<%= form_with(model: [notepad, note], id: "notes-form") do |form| %>
  <%= form.hidden_field :notable_type %>
  <%= form.hidden_field :notable_id %>

  <div class="form-group mb-0">
    <%= form.text_area :body, class: "form-control #{'is-invalid' if note.errors.any?}" %>
  </div>
<% end %>
